<div class="container-fluid">
    <h2>Lista de domicilios</h2>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Direccion</th>
                <th>Plato</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>    
        <tbody>
            <tr ng-repeat="record in records">
                <td id="{{$index}}-id">{{record.id}}</td>
                <td id="{{$index}}-direccion">{{record.direccion}}</td>
                <td id="{{$index}}-plato">{{record.plato}}</td>
                <td id="{{$index}}-precio">{{record.precio}}</td>

                <td>
                    <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="domicilioEdit({domicilioId: record.id})"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Remove</button>

                </td>
            </tr>
        </tbody>
    </table>
</div>