<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>RESERVAS</title>
        
    </head>
    <body>
        
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}} </alert>
    <form novalidate name="form" id="reserva-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">
        
        <div ng-messages="form.$error">
            <div ng-message="required">Fill the required fields!</div>
        </div>
   
        <fieldset>
            <input id="fecha" class="form-control" type="hidden" ng-model="currentRecord.fecha"/>
            <div class="form-group col-md-12" ng-class="{'has-success': form.fecha.$valid && form.fecha.$dirty, 'has-error': form.fecha.$invalid && (form.fecha.$dirty || form.$submitted)}" >
                <label for="fecha" class="col-md-2 control-label">Fecha</label>
                <div class="col-md-10">
                    <input id="fecha" fecha="fecha" class="form-control" type="text" ng-model="currentRecord.fecha" ng-init="currentRecord.fecha" required />
                </div>
            </div>
            
            <div class="form-group col-md-12" ng-class="{'has-success': form.numPersonas.$valid && form.numPersonas.$dirty, 'has-error': form.numPersonas.$invalid && (form.numPersonas.$dirty || form.$submitted)}" >
                <label for="numPersonas" class="col-md-2 control-label">Candidad Personas</label>
                <div class="col-md-10">
                    <input id="numPersonas" numPersonas="numPersonas" class="form-control" type="text" ng-model="currentRecord.numPersonas" ng-init="currentRecord.numPersonas" required />
                </div>
            </div>
            
            <div class="form-group col-md-12" ng-class="{'has-success': form.piso.$valid && form.piso.$dirty, 'has-error': form.piso.$invalid && (form.piso.$dirty || form.$submitted)}" >
                <label for="piso" class="col-md-2 control-label">Piso</label>
                <div class="col-md-10">
                    <input id="piso" piso="piso" class="form-control" type="text" ng-model="currentRecord.piso" ng-init="currentRecord.piso" required />
                </div>
            </div>
            <button type="button" ui-sref='reservaList'>Cancelar</button>
            <button type="submit" >Guardar Cambios</button>
        </fieldset>
    </form>
        
     
    </body>
</html>
